.map {
	height: 540px;
	/* min-width: 280px; */
	width: 100%;
	background-color: white;
	padding: 10px;
	border-radius: 7px;
	margin: 16px 0;
	box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
.map .leaflet-container {
	height: 100%;
	border-radius: 7px;
}
.info-flag {
	height: 100px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 8px;
	border: lightgray solid 1px;
}
.info-flag img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.info-name {
	font-size: 16px;
	font-weight: 600;
}
.info-cases,
.info-recovered,
.info-deaths {
	font-size: 16px;
	margin-top: 5px;
}
.info-container {
	width: 160px;
}
@media (max-width: 767px) {
	.map {
		padding: 0px;
		border-radius: none;
		height: 480px;
		margin: 8px auto;
	}
}
@media (max-width: 414px) {
	.map {
		height: 400px;
	}
}
