* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
}
.app {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgb(65, 65, 65), rgb(45, 45, 45), black);
}
.app-content {
	width: 100%;
	max-width: 2160px;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px 20px 0px;
	background: linear-gradient(rgb(65, 65, 65), rgb(45, 45, 45), black);
}
.app-left {
	padding-right: 10px;
	width: 100%;
}
.app-right {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	width: 100%;
}
.app-right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.app-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	padding: 20px 0px;
}
.app-header h1 {
	color: White;
	font-size: 3em;
}
.app-header .MuiFormControl-root {
	min-width: 130px;
}
.app-header .MuiOutlinedInput-input {
	padding: 8px;
}
.app-dropdown {
	background-color: white;
	outline-style: none;
	border-radius: 5px;
}
.app-stats {
	display: flex;
	justify-content: space-between;
}
#worldwide-h3 {
	margin-top: 10px;
}
#bar-line {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-top: 3px;
}
#bar-line label {
	padding: 0;
	margin: 0;
	font-weight: 600;
}
#lineGraph {
	margin-top: 3px;
	margin-left: 28px;
}
#period {
	display: flex;
	font-weight: 600;
	margin-top: 5px;
}
#period > p {
	margin-left: 5px;
}
#range-slider {
	width: 140px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 3px;
}
@media (max-width: 1280px){
	.app-content {
		padding-bottom: 20px;
	}
}
@media (max-width: 1024px) {
	.app {
		flex-direction: column;
	}
	.app-header {
		padding: 0;
	}
	.app-left {
		padding: 10px;
	}
	.app-right {
		padding: 10px !important;
	}
	.app-stats {
		padding-right: 0 !important;
	}
}
@media (max-width: 767px) {
	.app,
	.app-left,
	.app-right {
		padding: 0px;
		width: 100%;
	}
	.app-header {
		padding: 10px;
	}
	.app-header h1 {
		font-size: 2.5em;
	}
	.app-stats {
		flex-direction: column;
	}
}
@media (max-width: 414px) {
	.app-header h1 {
		font-size: 2em;
		margin-bottom: 10px;
	}
}
